##
# Config for publish.webmaker.org server
##

# Development or Production
export NODE_ENV="development"

# Database
export DATABASE_URL=postgres:///publish

# Port to use to run the server
export API_HOST=0.0.0.0
export PORT=2015

# S3 publish/unpublish
# (enter your own info plz)
export AWS_ACCESS_KEY_ID = ""
export AWS_SECRET_ACCESS_KEY = ""

# Log Level, options are: fatal, error, warn, info, debug, trace.
# Use debug for useful debug info, or error if you only want to see
# exception/crash stacks.
export LOG_LEVEL="info"
