##
# Config for publish.webmaker.org server
##

# Development or Production
export NODE_ENV="development"

# Database
export DATABASE_URL=postgres:///publish

# Port to use to run the server
export API_HOST=0.0.0.0
export PORT=2015

# S3 publish/unpublish
# (enter your own info plz)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_BUCKET=""

# S3 emulation
export S3_EMULATION=true

# Endpoint for published projects
export PUBLIC_PROJECT_ENDPOINT="localhost:8001"

# Log Level, options are: fatal, error, warn, info, debug, trace.
# Use debug for useful debug info, or error if you only want to see
# exception/crash stacks.
export LOG_LEVEL="info"

# Location of the webmaker identity provider server (id.webmaker.org)
# Note: Make sure to include the uri protocol in the connection string
export ID_SERVER_CONNECTION_STRING="http://localhost:1234"
